<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>

    <script src="../Dynamics/js/script.js"></script>
    <link rel="stylesheet" href="../Statics/Styles/index.css">
    <link rel="icon" href="../Statics/Img/Coyote-Icon.png" type="image/x-icon">

</head>

<body>
    
  <div class="header">
    <button id="paginaPrincipalBtn">Página Principal</button>
    <button id="iniciarSesionBtn">Iniciar Sesión</button>
    <button id="crearCuentaBtn">Crear una Cuenta</button>
    </div>
  
  <h1>Bienvenido a la página principal</h1>
  <button id="usuarioBtn">Usuario</button>
  <button id="administradorBtn">Administrador</button>
  <button id="moderadorBtn">Moderador</button>

</body>
</html>