<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear una cuenta</title>
    <link rel="stylesheet" href="../Statics/Styles/index.css">
    <script src="../Dynamics/js/script.js"></script>
    <link rel="icon" href="../statics/media/img/Godo.png" type="image/x-icon">

</head>
<body>
    <div class="header">
        <button id="paginaPrincipalBtn">Página Principal</button>
    </div>

    <h1>Crear una cuenta</h1>

    <!-- FORMULARIO CREAR CUENTA -->
    <form id="crearCuentaForm" method="POST">

        <label for="NoCuenta">Número de Cuenta:
            <br>
            <input type="number" name="no_cuenta" id="UsuCuenta">
        </label>
        <br>
        <br>
        <label for="NombreUsu" >Nombre(s):
            <br>
            <input type="text" name="usuario" id="UsuNom">
        </label>
        <br>
        <br>
        <label for="Apellidos">Apellidos:
            <br>
            <input type="text" name="apellidos" id="UsuarioA">
        </label>
        <br>
        <br>
        <label for="turno">Selecciona tu turno:
            <select name="turno">
                <option value="matutino">Matutino</option>
                <option value="vespertino">Vespertino</option>
            </select>
        </label>
        <br>
        <br>
        <label for="grado">Selecciona tu grado:
            <select name="grado">
                <option value="cuarto">Cuarto</option>
                <option value="quinto">Quinto</option>
                <option value="sexto">Sexto</option>
            </select>
        </label>
        <br>
        <br>
        <label for="NoTel">Número Telefónico:
            <br>
            <input type="tel" name="no_tel" id="UsuTel">
        </label>
        <br>
        <br>
        <label for="Contraseña">Contraseña:
            <br>
            <input type="password" id="contraseña" name="UsuContra">
        </label>
        <br>
        <br>
        <label for="Contraseña">Confirmar contraseña:
            <br>
            <input type="password" id="confirmarContrasena" name="UsuContra">
        </label>
        <br>
        <br>
        <label for="return">
            <button type="button" id="verContraseñaBtn">Ver contraseña</button>
        </label>
        <br>
        <br>
        <label for="FotoUsuario">Elige una foto de perfil:
            <br>
            <input type="file" name="PFP" id="FotoUsu" accept="image/png, image/jpeg">
        </label>
        <br>
        <br>
        <label for="return">
            <button type="submit" id="submit">Registrarse</button>
        </label>
        </form>

    <!-- SCRIPT -->
    <script>
        document.getElementById("paginaPrincipalBtn").addEventListener("click", function() {
            window.location.href = "index.html";
        });

        document.getElementById("verContraseñaBtn").addEventListener("click", function() {
            var contraseñaInput = document.getElementById("contraseña");
            var confirmarContraseñaInput = document.getElementById("confirmarContrasena");
            if (contraseñaInput.type === "password") {
                contraseñaInput.type = "text";
                confirmarContraseñaInput.type = "text";
                this.textContent = "Ocultar contraseñas";
            } else {
                contraseñaInput.type = "password";
                confirmarContraseñaInput.type = "password";
                this.textContent = "Ver contraseñas";
            }
        });


        document.getElementById("crearCuentaForm").addEventListener("submit", function(event) {
            var contraseña = document.getElementById("contraseña").value;
            var confirmarContraseña = document.getElementById("confirmarContrasena").value;
            if (contraseña.length <= 8) {
                alert("La contraseña debe tener 8 caracteres mínimo. Por favor, inténtalo de nuevo.");
                event.preventDefault();
            } else if (contraseña !== confirmarContraseña) {
                alert("Las contraseñas no coinciden. Por favor, inténtalo de nuevo.");
                event.preventDefault();
            }
        });

    </script>
</body>
</html>
