<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chi</title>
    <link rel="icon" href="" type="image/jpg">
    
</head>
<body>
    <center>
    <h1> Mapa</h1>

    <img src="..\statics\media\Imágenes\mapa_prepa_planta_baja.jpeg"  usemap="#pneb">
    <map name="pneb">
        <area target="" id="pimpos"alt="Pimponeras" title="Pimponeras" coords="220,126,247,171,316,126" shape="poly">
        <area target="" id="patioquintos"alt="Patio de Quintos" title="Patio de Quintos" coords="74,86,134,49,147,71,168,59,174,69,95,119" shape="poly">
        <area target="" id="atiocuartos"alt="Patio de Cuartos" title="Patio de Cuartos" coords="203,116,125,165,106,133,165,97,179,117,198,106" shape="poly">
        <area target="" id="patiosextos"alt="Patio de Sextos" title="Patio de Sextos" coords="135,180,161,222,189,191,232,164,227,155,214,164,199,142" shape="poly">
        <area target="" id="letras" title="Entrada" coords="181,242,209,246,212,226,185,197,167,219" shape="poly">


        <area target="" id="vestidores" alt="Vestidores" title="Vestidores"  coords="356,106,380,106,381,37,356,37" shape="poly">
        <area target="" id="multicanchas"alt="Multicanchas" title="Multicanchas"  coords="210,29,202,38,202,91,214,100,341,100,349,88,349,36,339,28" shape="poly">
        <area target="" id="canchas"alt="Canchas" title="Canchas"  coords="170,28,199,28,198,63,171,62" shape="poly">
        <area target="" id="labsyPulpo" alt="Laboratorios y Pulpo" title="Laboratorios y Pulpo" coords="136,23,51,25,28,38,51,76,79,119,90,113,64,69" shape="poly">
   
        <area target="" id="ventanillas"alt="Dirección y Ventanillas" title="Dirección y Ventanillas" coords="116,178,127,171,162,224,150,230" shape="poly">
        <area target="" id="labDocentes"alt="Laboratorio de Docentes" title="Laboratorio de Docentes"  coords="149,231,166,221,180,243,155,241" shape="poly">
        <area target="" id="abiblioteca"alt="Biblioteca" title="abajo de biblio" coords="218,102,217,120,331,119,331,101" shape="poly">
        <area target="" id="H"alt="Zona H" title="Zona H" coords="252,174,263,194,347,143,347,127,328,124,342,124" shape="poly">
        <area target="" id="auditorio"alt="Auditorio" title="Auditorio"  coords="188,190,232,164,246,178,218,223" shape="poly">

        <area target="" id="A14"alt="A14" title="A14"  coords="77,130,85,124,92,133,83,139,80,134" shape="poly">
        <area target="" id="A15"alt="A15" title="A15"  coords="87,123,94,119,101,128,93,132" shape="poly">
        <area target="" id="A13"alt="A13" title="A13"  coords="82,138,100,128,108,139,91,150" shape="poly">
        <area target="" id="A10"alt="A10" title="A10"  coords="90,151,108,140,126,170,109,181" shape="poly">
    
        <area target="" id="B3" alt="B3" title="B3" coords="66,68,76,63,87,79,75,85" shape="poly">
        <area target="" id="B4" alt="B4" title="B4" coords="77,63,88,57,99,72,88,77" shape="poly">
        <area target="" id="B5" alt="B5" title="B5" coords="88,56,100,50,109,65,100,71" shape="poly">
        <area target="" id="B6" alt="B6" title="B6" coords="101,47,110,42,118,58,109,63" shape="poly">
        <area target="" id="B7" alt="B7" title="B7" coords="111,42,120,35,131,51,120,58" shape="poly">
        <area target="" id="B8" alt="B8" title="B8" coords="122,35,132,29,141,43,131,49" shape="poly">
        <area target="" id="B9" alt="B9" title="B9" coords="133,28,142,20,153,37,142,42" shape="poly">

        <area target="" id="C3"alt="C3" title="C3"  coords="95,118,105,110,116,126,104,133" shape="poly">
        <area target="" id="C4"alt="C4" title="C4"  coords="106,110,116,103,127,119,117,125" shape="poly">
        <area target="" id="C5"alt="C5" title="C5"  coords="118,102,127,96,138,111,128,118" shape="poly">
        <area target="" id="C6"alt="C6" title="C6"  coords="130,95,139,90,149,106,140,111" shape="poly">
        <area target="" id="C7"alt="C7" title="C7"  coords="140,88,150,82,160,97,149,104" shape="poly">
        <area target="" id="C8"alt="C8" title="C8"  coords="152,82,161,75,171,91,161,97" shape="poly">
        <area target="" id="C9"alt="C9" title="C9"  coords="163,74,174,69,182,83,172,91" shape="poly">
    
        <area target="" id="D3"alt="D3" title="D3"  coords="125,164,134,157,145,172,135,179" shape="poly">
        <area target="" id="D4"alt="D4" title="D4"  coords="137,157,147,150,156,165,147,171" shape="poly">
        <area target="" id="D5"alt="D5" title="D5"  coords="148,150,159,142,170,160,157,165" shape="poly">
        <area target="" id="D6"alt="D6" title="D6"  coords="160,142,169,135,180,153,169,160" shape="poly">
        <area target="" id="D7"alt="D7" title="D7"  coords="170,135,179,129,191,145,180,154" shape="poly">
        <area target="" id="D8"alt="D8" title="D8"  coords="182,128,190,122,200,137,191,143" shape="poly">
        <area target="" id="D9"alt="D9" title="D9"  coords="193,122,203,116,212,131,201,137" shape="poly">
        <area target=""id="D10"alt="D10" title="D10" coords="198,141,213,132,221,143,206,153" shape="poly">
    </map>


    <img src="..\statics\media\Imágenes\mapa_prepa_planta_alta.jpeg"  usemap="#pnea">
    <map name="pnea"> 
        <area target="" id="EM"alt="EM" title="EM" coords="79,123,97,112,102,121,84,131" shape="poly">
        <area target="" id="Laboratorio"alt="Laboratorio" title="Laboratorio" coords="30,33,41,27,97,113,85,119" shape="poly">
        <area target="" id="Biblioteca"alt="Biblioteca" title="Biblioteca" coords="220,97,220,114,331,115,332,97" shape="poly">
        <area target="" id="Gimnasio"alt="Gimnasio" title="Gimnasio" coords="356,32,379,33,380,92,357,92" shape="poly">
        <area target="" id="Mediateca"alt="Mediateca" title="Mediateca" coords="152,223,167,213,182,235,157,232" shape="poly">
       
        <area target="" id="A 112"alt="A 112" title="A 112" coords="85,133,101,122,111,134,93,144" shape="poly">
        <area target="" id="A110"alt="A110" title="A110" coords="104,164,114,157,122,168,112,175" shape="poly">
        <area target="" id="A111"alt="A111" title="A11" coords="122,152,126,158,119,162,114,156" shape="poly">
        <area target="" id="A108"alt="A108" title="A108" coords="125,180,135,174,130,164,119,171" shape="poly">
        <area target="" id="A107"alt="A107" title="A107" coords="126,182,136,175,143,185,132,192" shape="poly">
        <area target="" id="A106"alt="A106" title="A106" coords="132,193,143,185,149,195,138,202" shape="poly">
        <area target="" id="A105"alt="A105" title="A105" coords="145,212,156,205,150,195,140,201" shape="poly">
        <area target="" id="A104"alt="A104" title="A104" coords="145,214,157,206,162,214,150,222" shape="poly">

        <area target="" id="D102"alt="D102" title="D102" coords="127,158,137,151,146,166,136,173" shape="poly">
        <area target="" id="D103"alt="D103" title="D103" coords="137,150,149,143,159,158,147,165" shape="poly">
        <area target="" id="D104"alt="D104" title="D104" coords="169,152,160,158,151,143,161,137" shape="poly">
        <area target="" id="D105"alt="D105" title="D105" coords="162,135,170,130,180,144,170,150" shape="poly">
        <area target="" id="D106" title="D106" coords="172,130,181,123,191,138,181,144" shape="poly">
        <area target="" id="D107" title="D107" coords="183,122,193,116,202,131,191,137" shape="poly">
        <area target="" id="D108" title="D108" coords="194,115,204,109,214,124,203,131" shape="poly">
         
        <area target="" id="C102"alt="C102" title="C102" coords="97,111,108,105,118,120,107,126" shape="poly">
        <area target="" id="C103"alt="C103" title="C103" coords="109,103,119,98,130,113,118,119" shape="poly">
        <area target="" id="C104"alt="C104" title="C104" coords="119,97,130,90,140,105,130,112" shape="poly">
        <area target="" id="C105"alt="C105" title="C105" coords="131,88,140,84,152,100,142,106" shape="poly">
        <area target="" id="C106"alt="C106" title="C106" coords="152,76,162,92,152,99,141,83" shape="poly">
        <area target="" id="C107"alt="C107" title="C107" coords="153,75,163,71,172,85,164,91" shape="poly">
        <area target="" id="C108"alt="C108" title="C108" coords="164,69,174,62,185,78,173,84" shape="poly">

        <area target="" id="B102"alt="B102" title="B102" coords="69,64,79,57,89,71,78,79" shape="poly">
        <area target="" id="B103"alt="B103" title="B103" coords="80,57,90,51,101,66,90,72" shape="poly">
        <area target="" id="B104"alt="B104" title="B104" coords="91,50,102,44,111,58,102,65" shape="poly">
        <area target="" id="B105"alt="B105" title="B105" coords="104,42,112,38,122,51,112,58" shape="poly">
        <area target="" id="B106"alt="B106" title="B106" coords="114,37,124,30,133,44,123,52" shape="poly">
        <area target="" id="B107"alt="B107" title="B107" coords="126,29,134,24,144,39,134,46" shape="poly">
        <area target="" id="B108"alt="B108" title="B108" coords="136,23,145,18,155,31,145,38" shape="poly">
    </map>
    <form action='..\dynamics\php\pventas.php' method='post' target='_self'>
        <input type='submit' value='CREAR'/>
    </form>
</center>
    <script src="..\dynamics\js\enpm.js"></script>
</body>
</html>


    
