<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br>
    <br>
    <table border="1" align="center" width="300">

        <thead>
            <th><h1>Crear una publicación...</h1></th>
        </thead>

        <tbody>
            <td>
                <form method="post">
                    <label for="TituloPubli">Título de la Publicación:
                        <br>
                        <input type="text" name="TituloPubli2" id="TituloPubliPerdidos">
                    </label>
                    <br>
                    <br>
                    <label for="Descripción">Descripción:
                        <br>
                        <input type="text" name="Descripcion2" id="DescripcionPubliPerdidos">
                    </label>
                    <br>
                    <br>
                    <label for="FotoObjeto">Foto del objeto:
                        <br>
                        <input type="file" name="FotoObjeto" id="FotoPubliPerdidos" accept="image/png, image/jpeg">
                    </label>
                    <br>
                    <br>
                    <label for="Ubicación">
                        <button type="button">Selecciona punto de Extravío</button>
                    </label>
                </form>
            </td>

        </tbody>
        
    </table>
    
    
</body>
</html>