<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br>
    <br>
    <table border="1" align="center" width="300">

        <thead>
            <th><h1>Haz una pregunta...</h1></th>
        </thead>

        <tbody>
            <td>
                <form method="post">
                    <label for="Pregunta">¿Cuál es tu pregunta?:
                        <br>
                        <input type="text" name="Pregunta" id="PreguntaPubliVentas">
                    </label>
                    <br>
                    <br>
                    <label for="Descripción">Descripción del producto:
                        <br>
                        <input type="text" name="Descripcion" id="DescripcionPubliVentas">
                    </label>
                </form>
            </td>

        </tbody>
        
    </table>
    
    
</body>
</html>