<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br>
    <br>
    <table border="1" align="center" width="300">

        <thead>
            <th><h1>Crear una publicación...</h1></th>
        </thead>

        <tbody>
            <td>
                <form action="../dynamics/php/pventas.php" method="post" enctype="multipart/form-data" target="_self">
                    <label for ="TituloPubli">Título de la Publicación:
                        <br>
                        <input type="text" name="TituloPubli" id="TituloPubliVentas">
                    </label>
                    <br>
                    <label for="Descripción">Descripción del producto:
                        <br>
                        <input type="text" name="Descripcion" id="DescripcionPubliVentas">
                    </label>
                    <br>
                    <br>
                    <label for="FotoProducto">Foto del producto:
                        <br>
                        <input type="file" name="FotoProducto" id="FotoPubliVentas" accept="image/png, image/jpeg">
                    </label>
                    <br>
                    <br>
                    <label for="TipoProduc">Tipo de producto:
                        <select name="tipo_de_producto">
                            <option value="Escolares">Escolares</option>
                            <option value="Ropa y Accesorios">Ropa y Accesorios</option>
                            <option value="Mano propia">Mano propia</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </label>
                    <br>
                    <br>
                </form>
                <form action='..\templates\map.html' method='post' target='_self'>
                        <input type='submit' value='Ubicación'/>
                </form>
            </td>

        </tbody>
        
    </table>
    
    
</body>
</html>

