<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br>
    <br>
    <table border="1" align="center" width="300">

        <thead>
            <th><h1>Crear una publicación...</h1></th>
        </thead>

        <tbody>
            <td>
                <form method="post">
                    <label for="TituloPubli">Título de la Publicación:
                        <br>
                        <input type="text" name="TituloPubli4" id="TituloPubliComunidad">
                    </label>
                    <br>
                    <br>
                    <label for="Descripción">Descripción:
                        <br>
                        <input type="text" name="Descripcion" id="DescripcionPubliComunidad">
                    </label>
                    <br>
                    <br>
                    <label for="Tema">Temas:
                        <select name="tema">
                            <option value="Videojuegos">Videojuegos</option>
                            <option value="Clubes">Clubes</option>
                            <option value="Escolares">Escolares</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </label>
                </form>
            </td>

        </tbody>
        
    </table>
    
    
</body>
</html>