<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear publicación</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <br>
    <br>
    <table align="center">

        <thead>
            <th><h1>Crear una publicación...</h1></th>
        </thead>

        <tbody>
            <td>
                <form method="post">
                    <p> </p>
                    <label for="TituloPubli">Título de la Publicación:
                        <br>
                        <input type="text" name="TituloPubli1" id="TituloPubliVentas">
                    </label>
                    <br>
                    <br>
                    <label for="Descripción">Descripción del producto:
                        <br>
                        <input type="text" name="Descripcion" id="DescripcionPubliVentas">
                    </label>
                    <br>
                    <br>
                    <label for="FotoProducto">Foto del producto:
                        <br>
                        <input type="file" name="FotoProducto" id="FotoPubliVentas" accept="image/png, image/jpeg">
                    </label>
                    <br>
                    <br>
                    <label for="TipoProduc">Tipo de producto:
                        <select name="tipo_de_producto">
                            <option value="Escolares">Escolares</option>
                            <option value="Ropa y Accesorios">Ropa y Accesorios</option>
                            <option value="Mano propia">Mano propia</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </label>
                    <br>
                    <br>
                    <label for="Ubicación">
                        <button type="button">Selecciona Punto de Venta</button>
                    </label>
                </form>
            </td>

        </tbody>
        
    </table>
    <div>
        <div class="barra"></div>
        <div class="circulo"></div>
        <div class="circle"><img src="./logoo.png" id="logonegro"><img src="./logo.png" id="logo"></div>
        <div class="coyoforos"><h2>Coyo Foros</h2></div>
        <div class="emprendimiento"><h2><u>Coyo emprendimiento</u></h2></div>
        <div class="engranaje"></div>
        <div class="luna"></div>
        <div class="sol"></div>
    </div>
</body>
</html>
