<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <br>
    <br>
    <table border="1" align="center" width="300">

        <thead>
            <th><h1>Crear una cuenta</h1></th>
        </thead>

        <tbody>
            <td>
                <form>
                    <label for="NombreUsu" >Nombre(s):
                        <br>
                        <input type="text" name="Usuario" id="UsuNom">
                    </label>
                    <br>
                    <br>
                    <label for="ApellidoMat">Apellido Materno:
                        <br>
                        <input type="text" name="ApellidoMat" id="UsuarioAM">
                    </label>
                    <br>
                    <br>
                    <label for="ApellidoPat">Apellido Paterno:
                        <br>
                        <input type="text" name="ApellidoPat" id="UsuarioAP">
                    </label>
                    <br>
                    <br>
                    <label for="NoCuenta">Número de Cuenta:
                        <br>
                        <input type="number" name="NoCuenta" id="UsuCuenta">
                    </label>
                    <br>
                    <br>
                    <label for="NoTel">Número Telefónico:
                        <br>
                        <input type="tel" name="NoTel" id="UsuTel">
                    </label>
                    <br>
                    <br>
                    <label for="Contraseña">Contraseña:
                        <br>
                        <input type="text" name="Contraseña" id="UsuContra">
                    </label>
                    <br>
                    <br>
                    <label for="FotoUsuario">Elige una foto de perfil:
                        <br>
                        <input type="file" name="PFP" id="FotoUsu" accept="image/png, image/jpeg">
                    </label>
                    <br>
                    <br>
                </form>
            </td>

        </tbody>
        
    </table>
    
    
</body>
</html>